#container{
  height:530px;
  width:530px;
  margin:auto;
}
#grid{
  border:1px solid black;
  border-collapse:collapse;
  border-spacing:0px;
}
.grid-row{

}
.square{
  height:31px;
  width:31px;
  border:0px;
/*  display:inline-block;*/
/*  margin-top:-5px;*/
/*  clear:both;*/
}
#clear{

}
#rainbow{

}
#eraser{

}
td{
  padding:0px;
  border:0px;
}
.button{
  background-color:teal;
  color:yellow;
  font-family:sans-serif;
  display:inline-block;
  margin-top:10px;
  margin-left:65px;
  padding:5px;
}
#button-container{
  display:block;
  width:500px;
  margin:auto;
}
